<div class="div-left_pf">
	<div
		class="div-photo-projet_pf">{# Code du contenu ici #}
	</div>
</div>
{# Div de droite = container de la div des infos #}
<div class="div-right_pf">
	<div
		class="div-presentation-projet_pf">{# Code du contenu ici #}
	</div>
</div>
