<nav class="nav_container">
    <ul>
        <li class="navbar_link"><a href="#">Accueil</a></li>
        <li class="navbar_link"><a href="#">Formation</a></li>
        <li class="navbar_link"><a href="#">Projets web</a></li>
        <li class="navbar_link"><a href="#">Contact</a></li>
    </ul>
</nav>