<nav class="navbar sticky-top navbar-expand-lg bg-transparent nav-container justify-content-end">
    <ul class="nav justify-content-end">
        <li class="navbar-item"><a href="#pf-presentation" class="navbar-link">Accueil</a></li>
        <li class="navbar-item"><a href="#pf-formation" class="navbar-link">Formation</a></li>
        <li class="navbar-item"><a href="#pf-projet" class="navbar-link">Projets web</a></li>
        <li class="navbar-item"><a href="#" class="navbar-link">Contact</a></li>
    </ul>
</nav>