{% for projet in projets %}
	<div class="card_projet col-md-4">
		<div class="card-header_projet">
			<div class="card-header-hover_projet">{#<img src="" alt="card_image" class="card-image_projet">#}
				{# <a href="{{}}" class="uk-button card-button_projet">{{}}</a> #}
			</div>
		</div>
		<div class="card-body_projet">
			<h5 class="card-title_projet">{{ projet.projet }}</h5>
			<p class="card-description_projet">
				{{ projet.descriptif }}</p>
		</div>
		<div class="card-footer_projet">
			<div class="card-info_projet">
				{# <p class="card-category_projet">
					{{ stack.projet.nom }}
				</p> #}
				<p class="card-date-projet">
					{{ projet.date }}
				</p>
			</div>
		</div>
	</div>
{% endfor %}
