.card-projet-title{
    font-size: $h1-font-size;
    color: $font-color;
}

.card-projet-subtitle{
    font-size: $h2-font-size;
    color: $font-color;
}

.card-stack-title{
    font-size: $h3-font-size;
    color: $font-color;
}

.card-description-projet{
    color: $font-color;
}

.pf-projet-detail {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: auto;
    width: 100%;
}

.projet-photo {
    background-color: $font-color;
}

.stack-org{
    display: inline-block;
}

.stack-org-name {
    font-family: "Basteleur Moonlight";
    padding:0.5rem;
    color: $font-color;
}
