.pf-formation{
    height: auto;
}

.parcours-date{
    font-size: $p-size-desktop;
}

.pf-formation {
    height: auto;
    /*width: 100%;*/
}

.div-left-pf {
    justify-content: flex-start;
    align-items: center;
    height: auto;
    width: 50%;
}

.div-right-pf {
    position: fixed;
    right: 0;
    height: 100vh;
    width: 50%;
}

.div-parcours-pf {
    background-color: transparent;
    height: auto;
    padding: 10vh 5vw 5vh 5vw;
}