.nav-container{
    position: sticky !important;
    backdrop-filter: $blur;
}

.navbar-link {
    font-family: $headings-font-family;
    list-style: none;
    padding: 1rem;
    text-decoration: none;
    color: $font-color;
    font-size: $btn-font-size;
}

/*navbar-item{
}*/