<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" type="image/png" href="{{ asset('build/images/logo-wild-code-school.svg') }}"/>
        <title>
            {% block title %}Portfolio - Elise{% endblock %}
        </title>
                {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
            </head>
    <body>
        {% include 'includes/_navbar1.html.twig' %}
    <section class="pf-presentation" id="pf-presentation">
        <div class="presentation-intro">
            <h1 class="tracking-in-contract">Elise Chaldjian</h1>
            <h2 class="tracking-in-contract">Développeuse web</h2>
        </div>
    </section>
    <section class="pf-formation slide-in-fwd-left" id="pf-formation">
        <h2>Mon parcours</h2>
        {% include 'includes/_parcours2.html.twig' %}
    </section>
    <section class="pf-projet" id="pf-projet">
        <h2>Mes projets</h2>
        {% include 'includes/_projet3.html.twig' %}
    </section>

    </body>
</html>